<div class="container">


  <div class="container__content">
    <div class="container__title">
      <p>Sign in to your account</p>
    </div>
    <div class="container__form-container">
      <form class="container__form" action="">
        <input class="container__input" type="text" placeholder="First Name" />
        <input
          class="container__input"
          type="email"
          placeholder="Email address"
        />
        <p class="container__link">Forgot Password?</p>

        <button class="container__button">Sign in</button>
      </form>
    </div>
  </div>
</div>
